@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;500;600;700;800;900&display=swap');

:root {
    /* Colors */
    --dark: #000000;
    --gray: #595959;

    /* Font Size */
    

    /* Line Height */
    
}

@media (min-width: 768px) {
    :root {
        /* Font Size */
        

        /* Line Height */
       
    }
}

@media (min-width: 1200px) {
    :root {
        /* Font Size */
        

        /* Line Height */
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    position: relative;
    overflow-x: hidden;
}

body {
    background-color: #fff;
    font-family: 'Archivo', sans-serif;
    font-size: 1rem;
}

@media (min-width: 1200px) {
    .landing-page__body {
        height: 100vh;
    }
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

ul {
    list-style: none;
}

.container {
    width: calc(100% - 2.5rem);
    margin: 0 auto;
}

@media (min-width: 768px) {
    .container {
        max-width: 688px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

/* BUTTONS */
.btn {
    display: inline-block;
    background-color: transparent;
    padding: 1.125rem 1.5rem;
    color: var(--dark);
    font-size: 1.125rem;
    line-height: 150%;
    font-weight: 700;
    border-radius: 5px;
    text-align: center;
    border: 1px solid transparent;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.625rem;
}


.btn--dark {
    background-color: var(--dark);
    color: #ffffff;
}

.btn--dark:hover {
    background-color: #222222;
}

.btn--light {
    background-color: transparent;
    border: 1px solid #dadada;
    line-height: 1.25rem;
}

.btn--light:hover {
    background-color: #F9F6F1;
}

.btn--block {
    display: block;
}

/* END BUTTONS */

/* LANDING PAGE */
.landing-page__header {
    margin-top: 2.5rem;
}

.landing-page__bg {
    margin-top: 2.5rem;
    width: 100%;
    height: 375px;
    background-image: url(../img/hero-image-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

@media (min-width: 1200px) {
    .landing-page__bg {
        margin-top: 0;
        width: 661px;
        height: 100%;
        background-image: url(../img/hero-image.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
    }
}

.landing-page__main {
    margin-top: 2.5rem;
}

@media (min-width: 1200px) {
    .landing-page__main {
        margin-top: 8rem;
    }
}

@media (min-width: 1200px) {
    .landing-page__container {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}

@media (min-width: 1200px) {
    .landing-page__content {
        width: 479px;
    }
}

.landing-page__title {
    font-size: 2.25rem;
    line-height: 2.438rem;
    color: var(--dark);
    font-weight: 700;
}

@media (min-width: 768px) {
    .landing-page__title {
        font-size: 3.5rem;
        line-height: 3.813rem;
    } 
}

.landing-page__text {
    margin-top: .5rem;
    font-size: 1.125rem;
    line-height: 150%;
    color: var(--gray);
}

.landing-page__benefits {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

.landing-page__benefit {
    display: flex;
    align-items: center;
    gap: .75rem;
    font-size: 1.125rem;
    line-height: 150%;
    color: var(--gray);
}

.landing-page__btn {
    margin-top: 1.5rem;
}

.partnered {
    margin: 2.25rem 0 2.5rem;
}

.partnered__title {
    font-size: 1.125rem;
    line-height: 150%;
    color: var(--gray);
}

.partnered__companies {
    margin-top: .5rem;
    display: flex;
}

@media (min-width: 768px) {
    .partnered__companies {
        gap: 1.5rem;
    }
}

/* END LANDING PAGE */

/* NAVBAR */

.navbar {
    padding-top: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
}

@media (min-width: 1200px) {
    .navbar {
        gap: 2rem;
    }
}

.navbar__logo {
    display: inline-block;
}

.navbar__toggler {
    width: 40px;
    height: 40px;
    background-color: #F9F6F1;
    background-image: url(../img/hamburger-menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

@media (min-width: 1200px) {
    .navbar__toggler {
        display: none;
    }    
}

.navbar__toggler--active {
    background-image: url(../img/close.svg);
}

.nav__container {
    flex-basis: 100%;
    flex-grow: 1;
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease-in-out;
}

.nav__container--active {
    overflow: visible;
    visibility: visible;
    opacity: 1;
}

@media (min-width: 1200px) {
    .nav__container {
        flex-basis: initial;
        max-height: unset;
        overflow: visible;
        visibility: visible;
        opacity: 1;
        transition: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.nav {
    padding: 1.5rem 0;
}

@media (min-width: 1200px) {
    .nav {
        padding: 0;
    }
}

.nav__link {
    font-size: 1.125rem;
    line-height: 150%;
    color: var(--gray);
}

@media (min-width: 1200px) {
    .nav__link {
        font-weight: 700;
    }
}

.nav__auth {
    border-top: 1px solid #e1e1e1;
    padding: 1.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .75rem;
}

@media (min-width: 1200px) {
    .nav__auth {
        flex-direction: row;
        gap: 0;
        border-top: 0;
        padding: 0;
        align-items: center;
    }
}

.nav__auth-link {
    font-size: 1.125rem;
    line-height: 150%;
    color: var(--gray);
}

.nav__auth-link--alt {
    color: var(--dark);
}

@media (min-width: 1200px) {
    .nav__auth-link--alt {
        display: inline-block;
        background-color: var(--dark);
        padding: 1.125rem 1.5rem;
        color: #ffffff;
        font-size: 1.125rem;
        line-height: 150%;
        font-weight: 700;
        border-radius: 5px;
        text-align: center;
        margin-left: 1.438rem;
    }
}

/* END NAVBAR */

/* SEARCH PAGE */

.welcome {
    margin-top: 2.5rem;
}

.welcome__container {
    background-color: #F9F6F1;
    padding: 2.25rem;
    border-radius: 5px;
}

@media (min-width: 768px) {
    .welcome__container {
        padding: 4.25rem 3.5rem;
    }
}

@media (min-width: 768px) {
    .welcome__content {
        width: 408px;
    }
}

.welcome__title {
    font-size: 2.25rem;
    line-height: 2.438rem;
    font-weight: 700;
}

.welcome__text {
    margin-top: .5rem;
    font-size: 1.125rem;
    line-height: 150%;
    color: var(--gray);
}

@media (min-width: 768px) {
    .welcome__form {
        display: grid;
        grid-template-columns: 255px 109px;
        gap: 1rem;
    }
}

.welcome__input {
    margin-top: 1rem;
    width: 100%;
    padding: 1.125rem .5rem 1.125rem 3.25rem;
    font-family: inherit;
    font-size: 1.125rem;
    line-height: 150%;
    color: var(--gray);
    border: 1px solid #CACACA;
    border-radius: 5px;
    background-image: url(../img/search-icon.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: left 24px center;
}

.welcome__input:focus {
    outline: none;
    border: 1px solid #000000;
}

.welcome__btn {
    margin-top: 1rem;
}

.welcome__add-cg {
    display: inline-block;
    margin-top: 1rem;
    font-size: 1.125rem;
    line-height: 150%;
    color: var(--gray);
}

.welcome__add-cg::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--gray);
    margin-top: -3px;
}

.campgrounds {
    margin-top: 2.5rem;
}

.campgrounds__container {
    display: grid;
    gap: 1.25rem;
}

@media (min-width: 768px) {
    .campgrounds__container {
        grid-template-columns: repeat(2,1fr);
    }
}

@media (min-width: 1200px) {
    .campgrounds__container {
        grid-template-columns: repeat(3,1fr);
    }
}

.campground {
    padding: 0.938rem;
    border: 1px solid #dadada;
    border-radius: 5px;
}

.campground__img {
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.campground__info {
    margin-top: 1rem;
}

.campground__title {
    font-size: 1.125rem;
    line-height: 1.25rem;
    font-weight: 700;
}

.campground__text {
    margin-top: .5rem;
    font-size: 1.125rem;
    line-height: 150%;
    color: var(--gray);
}

.campground__btn {
    margin-top: 1rem;
}

.footer {
    margin: 5rem 0;
}

/* END SEARCH PAGE */

/* INDIVIDUAL CAMPGROUND */
.individual-campground__main {
    margin-top: 2.5rem;
}

.individual-campground__container {
    display: grid;
    gap: 2.625rem;
}

@media (min-width: 1200px) {
    .individual-campground__container {
        display: grid;
        grid-template-columns: 402px 701px;
    }

    .individual-campground__column-one {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .individual-campground__column-two {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
}

.individual-campground__card {
    padding: 2.25rem;
    border: 1px solid #dadada;
    border-radius: 5px;
}

@media (min-width: 768px) {
    .individual-campground__card {
        padding: 3.5rem;
    }
}

.individual-campground__img {
    object-fit: cover;
    border-radius: 5px;
}

.individual-campground__title {
    margin-top: 1.625rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
    line-height: 1.625rem;
    font-weight: 700;
}

.individual-campground__price {
    font-size: 1.125rem;
    line-height: 1.25rem;
    font-weight: 400;
}

.individual-campground__text {
    margin-top: 1rem;
    font-size: 1.125rem;
    line-height: 150%;
    color: var(--gray);
}

.individual-campground__submitted-by {
    margin-top: 1rem;
    font-size: 1.125rem;
    line-height: 150%;
    color: var(--gray);
    font-style: italic;
}

.individual-campground__reviews {
    margin-top: 4.313rem;
    padding: 2.25rem;
    border: 1px solid #dadada;
    border-radius: 5px;
}

@media (min-width: 768px) {
    .individual-campground__reviews {
        padding: 3.5rem;
    }
}

@media (min-width: 768px) {
    .individual-campground__reviews {
        margin-top: 2.625rem;
    }
}

.individual-campground__review {
    padding: 1.625rem 0;
    border-bottom: 1px solid #dadada;
}

.individual-campground__review:first-of-type {
    padding: 0 0 1.625rem;
}

.individual-campground__review-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.125rem;
    line-height: 1.25rem;
}

.individual-campground__review-ago {
    font-size: 1rem;
    line-height: 1.063rem;
    color: var(--gray);
    font-weight: 400;
}

.individual-campground__review-text {
    margin-top: 1rem;
    font-size: 1.125rem;
    line-height: 150%;
    color: var(--gray);
}

.reviews__btn {
    margin-top: 1.625rem;
}

@media (min-width: 1200px) {
    .reviews__btn {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}

.map {
    padding: 2.25rem;
    border: 1px solid #dadada;
    border-radius: 5px;
}

@media (min-width: 768px) {
    .map {
        padding: 3.5rem;
    }
}

.map__img {
    width: 100%;
    object-fit: cover;
}

/* END SEARCH PAGE */